body {
  background: black;
  margin: 0px;
  padding: 0px;
}
main {
  width: 630px;
  margin: auto;
}

blockquote, header {
  font-family: 'Abril Fatface', cursive;
}

header {
  background: no-repeat center url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: contain;
  width: 1040px;
  margin: auto;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section {
  line-height: 10%;
  margin-left: 221px;
  color: #222;
}
h1 {
  font-size: 58px;
  margin-top: 40px;
  margin-bottom: 70px;
}
h2 {
  font-size: 30px;
}
h1, h2 {
  font-weight: normal;
}

.nadpis {
  text-transform: uppercase;
  margin-bottom: 30px;
}

h4 {
  font-style: italic;
  font-family: 'Merriweather', serif;
  font-size: 11px;
}

div {
  font-family: 'Josefin Sans', sans-serif;
  padding: 30px 0px 30px 20px;
  width: 590px;
  line-height: 120%;
}
.bio {
  font-size: 15px;
  line-height: 150%;
}
p {
  font-size: 12px;
}
ul {
  list-style-type: square;
  font-size: 12px;
}
.bioul {
  font-size: 15px;
}
blockquote {
  background: #585858;
  margin: 0px;
  color: white;
  font-size: 40px;
  position: relative;
  width: 100%;
}


article {
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
mark {
  position: absolute;
  background: none;
  color: white;
  font-size: 80px;
  top: -20px;
}

hr {
  border-top: 3px solid black;
  width: 95%;
}

.tesne {
  line-height: 0px;
}
h3.tesne {
  margin-top: 40px;
}
h3 {
  font-size: 18px
}
.train {
  padding-bottom: 10px;
}
.interest {
  padding-top: 10px;
}