.container {
    border: 2px solid rgb(0, 102, 255);
    width: min-content;
    margin: 10px;
    width: 1060px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0px;
    margin: 40px;
}
.blue li {
    background: rgb(0, 102, 255);
    padding: 40px;
}

.orange li {
    background: purple;
    padding: 40px;
}

.orange {
    background: orange;
}

$('.thumb').click((event) => {
    let indexClicked = $(event.target).attr('data-index');
    // indexClicked is now a string! if you need it as a number you have to change it
    // because for example "1" + 1 is going to be "11" and not 2
    let numberIndex = parseInt(indexClicked);
    // now numberIndex is a number
    $('#clicked').text(data[indexClicked]);
  });